<h1>Login</h1>
<form (ngSubmit)="login()" style="display: flex; flex-direction: column; gap: 10px; max-width: 300px;">
  <input type="text" [(ngModel)]="username" name="username" placeholder="Username" required />
  <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required />
  <button type="submit">Login</button>
  <p>Don't have an account? <a routerLink="/signup">Sign up here</a></p>
</form>

 <!-- <p>Don't have an account? <span routerLink="/signup" style="cursor: pointer; color: blue; text-decoration: underline;">Sign up here</span></p> -->

